@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:400,700");
.iphone-13-pro-max-10 {
    align-items: center ;
    background-color:#ffffff;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 926px;
    padding: 9px 0;
    width: 428px;
}

.hidden,
.hidden * {
    pointer-events: none ;
    visibility: hidden;
}

.overlap-group2 {
    height: 248px;
    margin-right: 7px;
    margin-top: 28px;
    position: relative;
    width: 381px;
}

.rectangle-16 {
    border-radius:60px;
    height: 210px;
    left: 0;
    position: absolute;
    top: 38px;
    width: 381px;
}
.still-run-downtown-la{
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 43px;
    width: 324px;
}

.sun-0514-10-miles-w{
    height: 139px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 80px;
    width: 264px;
}

.valign-text-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.span0 {
    color: var(--black);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
}

.valerys-schedule {
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 303px;
}

.mask-group-1 {
    height: 139px;
    left: 165px;
    position: absolute;
    top: 81px;
    width: 191px;
}
.overlap-group1 {
    align-self: flex-end;
    height: 74px;
    margin-right:14.77px;
    margin-top: 6px;
    position: relative;
    width: 351px;
}

.bunnylogo {
    height: 72px;
    left: 275px;
    position: absolute;
    top: 0;
    width: 76px;
}

.title {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    width: 303px;
}

.flex-row {
    align-items: center;
    display: flex;
    margin-left: 5px;
    margin-top: 115px;
    min-width: 311px;
}

.image-3 {
    height: 51px;
    margin-bottom: 3px;
    width: 37px;
}

.x4849108-3 {
    height: 39px;
    margin-bottom: 3px;
    margin-left: 93px;
    object-fit: cover;
    width: 39px;
}

.overlap-group3 {
    align-items: flex-start;
    background-color:I#88c599;
    border-radius: 31px;
    display: flex;
    height: 62px;
    margin-left: 80px;
    min-width: 62px;
    padding: 4px 0;
}

.person-4 {
    height: 53px;
    object-fit: cover;
    width: 57px;
}

.overlap-group {
    align-items: flex-end;
    background-color: #93cca2;
    display: flex;
    flex-direction: column;
    gap: 66px;
    margin-top: 1px;
    min-height: 374px;
    padding: 20px 124px;
    width: 428px;
 } 

 .raised-20 {
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 4px;
    min-height: 34px;
    text-align: center;
    width: 142px;
 }

.mask-group{
    height: 177px;
    width: 177px;
}